---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-1) %}
{% for post in postslist | reverse %}
  View the most recent challenge <a href="{{ post.url | url }}">here</a> or view all challenges in <a href={{ '/challenges/' | url }}>the archive</a>.
{% endfor %}
